
<body>
    <div class="container">
        <%- include('../layout-main/header') -%>
        
        <div class="content">
            <h1>Hi <%= user.name %> <%= user.lastName %></h1>

            <p>
                Thank you for signing up SLAPcenter. We will help you to build action plans to improve your revenues.
            </p>
        </div>

        <hr/>
        
        <%- include('../layout-main/footer') -%>
        
    </div>
</body>