<center class="footer">
    <h4>SiverLining Ltd. Copyright © 2017,  All rights reserved.</h4>
    <span>
        You received this email because you created a SLAP account.<br/>
        If you don't want to receive emails like this, you can unsubscribe, anytime.<br/>
        Have questions? Contact us on support@silverlininglimited.com.<br/>
</center>